/* Importa la fuente Outfit de Google Fonts */
@import url("https://fonts.google.com/specimen/Figtree");

:root {
  --primary: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --mobile-width: 375px;
  --desktop-width: 1440px;

  --base-font-size: 16px;
}

body {
  font-family: "Figtree", sans-serif, Roboto;
  background-color: var(--primary);
  margin: auto;
  padding: 0;
  height: 100vh;
  place-content: center;
}

body p {
  font-size: var(--base-font-size);
}

.blog-card-container {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 8px 8px 1px var(--gray-950);
  padding: 20px;
  margin: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--gray-950);
}

@media (max-width: 375px) {
  .blog-card-container {
    max-width: 365px;
  }
}

.blog-card__illustration img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.blog-card-container .blog-card__category {
  background-color: var(--primary);
  color: var(--gray-950);
  font-weight: 800;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  font-size: 0.875rem;
}

.blog-card__header .blog-card__date {
  font-size: 0.875rem;
  font-weight: 600;
}

.blog-card__content .blog-card__title {
  font-weight: 600;
}

.blog-card__content .blog-card__description {
  color: var(--gray-500);
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.blog-card__footer .blog-card__author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.blog-card__author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.blog-card__author-name {
  font-weight: 600;
  color: var(--gray-950);
  font-size: 0.85rem;
}
